body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgba(255,245,230,0.95), rgba(255,245,230,0.95)), url('../public/images/fondo.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}